@tailwind utilities;
@tailwind components;
@tailwind base;

@font-face {
  font-family: roboto-medium;
  src: url(./fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(./fonts/Roboto-Bold.ttf);
}
.roboto {
  font-family: roboto-medium;
}
.roboto-b {
  font-family: roboto-bold;
}
